<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to "Restaurants", restaurants_path, class: "navbar-brand" %>
      <%= link_to "Create new Restaurant", restaurants_new_path, class: "navbar-brand" %>
    </nav>

    <%= yield %>
  </body>
</html>